/* Write your CSS here */
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}
.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.count-container {
  border-radius: 15px;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  background-size: cover;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #0f172a;
  font-family: 'Roboto';
  padding: 25px;
}
p {
  color: #334155;
  font-weight: 400;
  font-size: 13px;
  padding: 15px;
}
.count-text {
  font-size: 20px;
}
button {
  border-radius: 8px;
  width: 100px;
  height: 30px;
  margin: 20px;
  cursor: pointer;
}
/* https://evenoddappsure.ccbp.tech */
